.error-message {
  background: hsl(349, 96%, 95%);
  border: 1px solid hsl(349, 96%, 90%);
  border-radius: 5px;
  color: hsl(349, 96%, 26%);
  display: none;
  line-height: 20px;
  margin: 12px auto;
  max-width: 700px;
  padding: 15px 10px;
  width: 100%;
}
